<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="strConnect" value="Persist Security Info=True;database=TVC_IC;server=.;User Id=sa;password="/>
    <add key="TemplatePath" value="D:\TVC_Template\"/>
    <add key="ReportPath" value="D:\NEWPMSREAL\Template\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
