<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="strConnect" value="Persist Security Info=True;database=NEWPMSREAL;server=.;User Id=sa;password=" />
    <add key="TemplatePath" value="D:\TVC_Template\" />
    <add key="ReportPath" value="D:\Template\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
</configuration>