<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="strConnect" value="Persist Security Info=True;database=TVC_IC;server=.;User Id=sa;password=" />
    <add key="TemplatePath" value="D:\TVC_Template\" />
    <add key="ReportPath" value="D:\NEWPMSREAL\Template\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>