<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QDAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="strConnect" value="Persist Security Info=True;database=NEWPMSREAL;server=.;User Id=sa;password=" />
    <add key="TemplatePath" value="D:\TVC_Template\" />
    <add key="ReportPath" value="D:\Template\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <userSettings>
    <QDAddin.Properties.Settings>
      <setting name="UseColumnCaptions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="DBName" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectString" serializeAs="String">
        <value>Persist Security Info=True;database=NEWPMSREAL;server=.;User Id=sa;password=qawsed</value>
      </setting>
    </QDAddin.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>